:root{
    --object-color: #EF001D;
    --text-color: #fff;
    --secondary-background-color: #2E2E2E; 

}
a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.1rem;
    transition: 0.4s ease-in-out;
}
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #222;
    background-image: url("Images/Carbon_BG.png");
}
ul{
    display: flex;
    gap: 1.3em;
}
h1{
    color: #fff;
}
button{
    border: none;
    font-size: 1.1rem;
    padding: 16px 40px;
    border-radius: 3px;
}
h2{
    font-size: 2rem;
    padding: 20px;
}
header h1{
    text-align: center;
    font-size: 4rem;
}
span{
    font-size: 1.5rem;
    cursor: none;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 0 40px;
    background-color: #111;
    height: 50px;
    margin-bottom: 1rem;
    color: var(--text-color);
}
.navbar a:hover{
    color: var(--object-color);
    scale: 105%;
}
.header_title{
    margin-bottom: 75px;
}
.filter_button_container{
    margin-bottom: 50px;
}
.filter_buttons{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.filter_buttons button{
    background-color: var(--object-color);
    transition: 0.3s;
    color: var(--text-color);
    cursor: pointer;
}
.filter_buttons button:hover{
    background-color: white;
    color: var(--object-color);
}
.projects_artstation{
    overflow: hidden;
}
.projects_box{
    width: 100vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 20px;
    justify-content: center;
    position: relative;
}
.projects_artstation img{
    width: 450px;
    height: 300px;
    opacity: 1;
}
.projects_img{
    border-radius: 10px;
}
.maya{
    display: flex;
}
.design, .code{
    display: none;
    opacity: 0;
}



